.frame {
    border: 10px solid grey;
    width: 1200px;
    height: 800px;
    display: flex;
}

.item {
    border: solid 5px black;
}

.white{
    
    background-color: white;
}

.red{
    
    background-color: red;
}

.yellow{
    
    background-color: yellow;
}

.flexGrow5 {
    flex-grow: 5;
  }

.flexGrow4 {
    flex-grow: 4;
}

.flexGrow3 {
    flex-grow: 3;
  }
  
.flexGrow1 {
    flex-grow: 1;
  }
  
.flexGrow2 {
    flex-grow: 2;
  }

.flexcol {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}
